@font-face {
  font-family: "Museo Sans Light";
  src: url("../fonts/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Museo Sans Bold";
  src: url("../fonts/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Museo Sans Light", sans-serif;
  font-weight: 300;
}

img {
  max-width: 100%;
}

strong {
  font-family: "Museo Sans Bold", sans-serif;
  font-weight: 700;
}

.container {
  max-width: 1170px;
  width: 96%;
  margin: auto;
}
@media (max-width: 640px) {
  .container {
    width: 90%;
  }
}

.button {
  background-color: #ffd200;
  color: #333;
  border: none;
  font-family: "Museo Sans Bold", sans-serif;
  font-weight: 700;
  cursor: pointer;
  padding: 18px 47px;
  border-radius: 10px;
}
.button:hover {
  background-color: #ffdb33;
}

.input {
  border: 1px solid #dddddd;
  border-radius: 10px;
  padding: 25px;
  font-size: 15px;
}

.section-title {
  font-size: 30px;
  text-align: center;
  line-height: 45px;
  font-family: "Museo Sans Bold", sans-serif;
  font-weight: 700;
}
@media (max-width: 768px) {
  .section-title {
    font-size: 26px;
    line-height: auto;
  }
}

.section-subtitle {
  color: #000;
  font-size: 20px;
  text-align: center;
  display: block;
}

.header {
  padding: 20px 0;
}
.header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
}
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 640px) {
  .header__contacts {
    display: none;
  }
}
.header__address {
  color: #333;
  font-size: 13px;
  font-weight: 400;
}
.header__phone {
  color: #333;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  display: block;
  margin-top: 5px;
  font-family: "Museo Sans Bold", sans-serif;
  font-weight: 700;
}
.header__button {
  padding: 18px 47px;
  border-radius: 10px;
  margin-left: 30px;
  font-size: 13px;
}

.main {
  background-color: #f5f5f5;
}
.main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 0 15px;
}
@media (max-width: 1200px) {
  .main-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.main-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
@media (max-width: 1200px) {
  .main-text {
    margin-bottom: 30px;
  }
}
.main-text__title {
  font-family: "Museo Sans Bold", sans-serif;
  font-weight: 700;
  font-size: 41px;
  color: #333;
  padding-right: 199px;
  line-height: 55px;
  margin: 45px 0 20px 0;
}
@media (max-width: 1200px) {
  .main-text__title {
    padding-right: 10px;
  }
}
@media (max-width: 640px) {
  .main-text__title {
    font-size: 30px;
    line-height: 1.4;
  }
}
.main-text__subtitle {
  font-size: 20px;
  line-height: 65px;
  color: #333;
}
@media (max-width: 640px) {
  .main-text__subtitle {
    font-size: 16px;
    line-height: 1.4;
  }
}
.main-image {
  margin-right: -55px;
}
@media (max-width: 1200px) {
  .main-image {
    width: 100%;
  }
}
.main-list {
  margin: 40px 0 0 0;
  padding: 0;
}
@media (max-width: 640px) {
  .main-list {
    margin: 30px 0 0 0;
  }
}
.main-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.main-list__item:last-child {
  margin-bottom: 0;
}
@media (max-width: 640px) {
  .main-list__item {
    margin-bottom: 15px;
  }
}
.main-list__image {
  width: 40px;
  height: 40px;
  border: 2px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 30px;
}
.main-list__text {
  line-height: 24px;
  font-size: 14px;
  color: #333;
  max-width: 300px;
}
@media (max-width: 640px) {
  .main-list__text {
    font-size: 12px;
    max-width: 215px;
  }
}

.offer {
  padding: 90px 0;
  background: url("../img/offer-bg.jpg") no-repeat;
  background-position: center right;
  background-size: contain;
  position: relative;
}
@media (max-width: 1200px) {
  .offer {
    background-size: cover;
  }
}
@media (max-width: 768px) {
  .offer {
    background: #fff;
  }
}
.offer:before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
}
.offer-block {
  width: 50%;
  padding-right: 90px;
  position: relative;
}
@media (max-width: 768px) {
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
}
.offer-title {
  font-size: 24px;
  line-height: 35px;
  max-width: 350px;
  margin-bottom: 25px;
  font-family: "Museo Sans Bold", sans-serif;
  font-weight: 700;
}
.offer-subtitle {
  display: inline-block;
  max-width: 260px;
  font-size: 16px;
  margin-bottom: 30px;
}
.offer__input {
  margin-bottom: 30px;
  width: 240px;
}
@media (max-width: 1200px) {
  .offer__input {
    width: 100%;
    margin-bottom: 15px;
  }
}
.offer__input:first-child {
  margin-right: 10px;
}
.offer__button {
  width: 100%;
  min-height: 70px;
}
@media (max-width: 1200px) {
  .offer__button {
    font-size: 13px;
  }
}
@media (max-width: 768px) {
  .offer__button {
    font-size: 16px;
  }
}
.offer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}
@media (max-width: 768px) {
  .offer-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }
}
.offer__info {
  line-height: 24px;
  display: inline-block;
  width: 50%;
}
.offer__cta {
  line-height: 24px;
  display: inline-block;
  width: 50%;
}

.portfolio {
  padding: 100px 0;
  background: #f5f5f5 url("../img/portfolio-bg.png") left repeat-y;
  background-size: 50%;
}
.portfolio__title {
  margin-bottom: 100px;
  color: #333;
}
.portfolio__arrows {
  max-width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  margin-top: 70px;
}

.arrows__left, .arrows__right {
  cursor: pointer;
}

.slider__image {
  margin: auto;
}

.price {
  padding: 100px 0;
}
.price__title {
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  .price__title {
    margin-bottom: 40px;
  }
}
.price__subtitle {
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  .price__subtitle {
    margin-bottom: 50px;
  }
}
.price__card {
  margin-bottom: 30px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card {
  text-align: center;
  border: 1px solid #e8e8e8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  width: 32%;
}
@media (max-width: 768px) {
  .card {
    width: 48%;
  }
}
@media (max-width: 425px) {
  .card {
    width: 100%;
  }
}
.card:hover {
  -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
}
.card:hover .card__image::before {
  opacity: 1;
}
.card__text {
  display: inline-block;
  padding: 40px;
}
@media (max-width: 850px) {
  .card__text {
    padding: 30px 20px;
  }
}
.card__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  font-size: 18px;
  color: #000;
  margin-bottom: 30px;
}
@media (max-width: 850px) {
  .card__title {
    font-size: 16px;
    margin-bottom: 20px;
  }
}
.card__image {
  position: relative;
}
.card__image img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__image::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffd200), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.card__link {
  display: inline-block;
  font-family: "Museo Sans Bold", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #333;
  position: relative;
}
@media (max-width: 850px) {
  .card__link {
    font-size: 16px;
  }
}
.card__link:hover::after {
  height: 13px;
}
.card__link::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #ffd200;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.steps {
  padding-bottom: 120px;
}
.steps__title {
  margin-bottom: 60px;
}
.steps__subtitle {
  margin-bottom: 75px;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 999px) {
  .icons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 768px) {
  .icons {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.icon {
  text-align: center;
  position: relative;
}
@media (max-width: 999px) {
  .icon {
    width: 20%;
  }
}
@media (max-width: 768px) {
  .icon {
    width: 33%;
  }
  .icon:first-child {
    margin-bottom: 60px;
  }
}
@media (max-width: 600px) {
  .icon {
    width: 100%;
    margin-bottom: 60px;
  }
  .icon:last-child {
    margin-bottom: 0;
  }
}
.icon:last-child::after {
  display: none;
}
.icon::after {
  content: "";
  position: absolute;
  top: -10px;
  right: -95px;
  display: block;
  width: 72px;
  height: 25px;
  background-image: url("../img/arrow-round.png");
}
@media (max-width: 1150px) {
  .icon::after {
    top: -10px;
    right: -70px;
  }
}
@media (max-width: 1150px) {
  .icon::after {
    top: -10px;
    right: -60%;
  }
}
@media (max-width: 1100px) {
  .icon::after {
    top: -10px;
    right: -58%;
  }
}
@media (max-width: 1050px) {
  .icon::after {
    top: -10px;
    right: -55%;
  }
}
@media (max-width: 999px) {
  .icon::after {
    display: none;
  }
}
.icon::after:last-child {
  display: none;
}
.icon__image {
  margin: auto;
  width: 100px;
  height: 100px;
  border: 3px solid #ffd200;
  border-radius: 100px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}
.icon__image img {
  display: inline-block;
  width: 30px;
  height: 30px;
}
.icon__text {
  max-width: 140px;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
}
@media (max-width: 768px) {
  .icon__text {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .icon__text {
    max-width: 220px;
  }
}

.notice {
  background-color: #ffc000;
  padding: 100px 0;
}
@media (max-width: 768px) {
  .notice {
    padding: 60px 0;
  }
}
.notice__text {
  text-align: center;
  font-size: 32px;
  max-width: 750px;
  line-height: 50px;
  margin: auto;
  font-weight: 300;
}
@media (max-width: 768px) {
  .notice__text {
    font-size: 26px;
    line-height: 36px;
  }
}

.docs-info {
  padding: 100px 0;
}
@media (max-width: 850px) {
  .docs-info {
    padding: 60px 0;
  }
}
.docs-info__block {
  margin-bottom: 150px;
  margin-bottom: 100px;
}
.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.benefit {
  width: 32%;
  background-color: #f7f7f7;
  height: 410px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 370px;
  position: relative;
}
@media (max-width: 600px) {
  .benefit {
    width: 270px;
    margin: 0 auto 40px auto;
  }
  .benefit:last-child {
    margin-bottom: 0;
  }
}
.benefit__text {
  margin: 26px 100px 0 26px;
  font-size: 16px;
  line-height: 23px;
}
@media (max-width: 850px) {
  .benefit__text {
    margin: 26px;
  }
}
.benefit__image {
  position: absolute;
  bottom: 0;
  left: 0;
}

.documents__title {
  margin-bottom: 100px;
}
@media (max-width: 768px) {
  .documents__title {
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 60px;
  }
}

.documents-block {
  max-width: 1070px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 850px) {
  .documents-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.documents-block__item {
  max-width: 270px;
}
@media (max-width: 850px) {
  .documents-block__item {
    width: 32%;
  }
}
@media (max-width: 600px) {
  .documents-block__item {
    width: 270px;
    margin: 0 auto 40px auto;
  }
  .documents-block__item:last-child {
    margin: 0 auto;
  }
}
.documents-block__text {
  text-align: center;
  margin-top: 40px;
  line-height: 24px;
  font-size: 18px;
}
@media (max-width: 850px) {
  .documents-block__text {
    margin-top: 26px;
    font-size: 16px;
    line-height: 22px;
    margin-top: 20px;
  }
}

.brief {
  background-image: url(../img/brief-color-bg.jpg), url(../img/brief-bg.jpg);
  background-position: left center, center right;
  background-size: 50%, cover;
  background-repeat: repeat-y, no-repeat;
  padding: 100px 0;
}
@media (max-width: 768px) {
  .brief {
    background-image: url(../img/brief-color-bg.jpg), url(../img/brief-bg.jpg);
    background-position: top center, center bottom;
    background-size: 100% 50%, cover;
    background-repeat: repeat-x, no-repeat;
    padding: 50px 0;
  }
}
.brief-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 768px) {
  .brief-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.brief__interview {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.brief__form {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-left: 200px;
  text-align: center;
}
@media (max-width: 1200px) {
  .brief__form {
    padding-left: 30px;
  }
}
@media (max-width: 768px) {
  .brief__form {
    padding-left: 0;
  }
}
.brief__input {
  width: 100%;
  max-width: 370px;
  margin-bottom: 15px;
}
.brief__button {
  width: 100%;
  max-width: 370px;
  display: block;
  height: 70px;
  margin: 15px auto 30px auto;
}

.interview {
  padding-right: 70px;
}
@media (max-width: 1200px) {
  .interview {
    padding-right: 30px;
  }
}
.interview__title {
  font-family: "Museo Sans Bold", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  margin-bottom: 50px;
}
@media (max-width: 1200px) {
  .interview__title {
    font-size: 18px;
    margin-bottom: 40px;
  }
}
.interview__subtitle {
  font-size: 16px;
  margin-bottom: 100px;
  display: block;
}
@media (max-width: 1200px) {
  .interview__subtitle {
    font-size: 14px;
    margin-bottom: 30px;
  }
}
.interview-list {
  list-style-type: none;
  padding: 0;
}
.interview-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
  font-family: "Museo Sans Bold", sans-serif;
  font-weight: 700;
}
.interview-list__counter {
  width: 35px;
  height: 35px;
  border: 2px solid #000000;
  display: inline-block;
  text-align: center;
  line-height: 35px;
  border-radius: 50%;
  margin-right: 30px;
  font-size: 14px;
}
@media (max-width: 1200px) {
  .interview-list__counter {
    margin-right: 20px;
  }
}
.interview-list__text {
  max-width: 400px;
  font-size: 18px;
}
@media (max-width: 1200px) {
  .interview-list__text {
    font-size: 14px;
    max-width: 200px;
  }
}

.form__title {
  font-family: "Museo Sans Bold", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  margin-bottom: 50px;
}
@media (max-width: 1200px) {
  .form__title {
    font-size: 18px;
    margin-bottom: 40px;
    margin-top: 150px;
  }
}
.form__subtitle {
  font-size: 16px;
  margin-bottom: 50px;
  display: block;
}
@media (max-width: 1200px) {
  .form__subtitle {
    font-size: 14px;
    margin-bottom: 40px;
  }
}
.form__description {
  font-size: 15px;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.modal-dialog {
  margin: auto;
  max-width: 450px;
  min-height: 200px;
  width: 90%;
  background-color: #fff;
  padding: 40px;
  position: relative;
}
.modal-dialog__close {
  position: absolute;
  right: 0;
  top: 0;
}

.error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 10px auto;
  align-text: center;
  border: 2px solid red;
}

label.error {
  display: block;
  padding-bottom: 10px;
  border: none;
}/*# sourceMappingURL=style.css.map */